* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-size: 2.6vh;
    overflow-y: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Shippori Mincho', serif;
    font-weight: 500;
}

header {
    display: none;
}

article {
    width: 100vw;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
    writing-mode: vertical-rl;
    margin: 0;
    height: 100%;
    padding-right: 5em;
    position: absolute;
}

h1 {
    display: block;
    writing-mode: vertical-rl;
    text-align: center;
    line-height: 45vh;
    padding: auto;
    height: 100%;
    background: #8DAEB0;
    color: white;
    font-size: 5em;
    filter: url(#nizimi);
}

article p {
    margin-top: 3em;
    margin-left: 1.3em;
    margin-right: 1.3em;
}

article h4 {
    margin-left: 3em;
    margin-right: 6em;
    margin-top: 4rem;
    font-family: sans-serif;
    font-weight: normal;
}

.caption {
    margin-top: 4rem;
    font-family: sans-serif;
    font-weight: 300;
    font-size: smaller;
}